* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(0, 0, 0, 0.7) url("../img/fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    font-family: 'Indie Flower', cursive;
    color: beige;
}



main {
    display: grid;
    margin: auto;
}

.lamina11 {
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding: auto;
    margin: auto;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;

    font-weight: bold;
}

nav ul li a {
    color: #347D14;
    padding: 1rem 1rem;
    line-height: 1.6;
    text-decoration: none;
}



h1 {
    text-align: center;
    font-size: 2rem;
    color: #b605b3;
}

.index-p {
    padding: 10px;
    margin: 15px;
    color: #68c540;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}

form {
    font-weight: bold;
    font-size: 1.2rem;
    color: #347D14;
}


/*------discos-----*/


.discos {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    grid-auto-columns: 1fr;
    gap: 2rem 2rem;
    grid-auto-flow: row;
    grid-template-areas:
        "foto1 link1"
        "foto2 link2"
        "foto3 link3"
        "foto4 link4";
}

.foto1 {
    grid-area: foto1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.foto1 img {
    display: flex;
    width: 50%;
}

.foto1 img a {
    display: flex;
    width: 50%;

}

.foto2 {
    grid-area: foto2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto2 img {
    display: flex;
    width: 50%;

}

.foto3 {
    grid-area: foto3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto3 img {
    display: flex;
    width: 50%;

}

.foto4 {
    grid-area: foto4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto4 img {
    display: flex;
    width: 50%;

}

.link1 {
    grid-area: link1;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #347D14;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.link1 h3 {
    display: flex;
    font-size: 2.5rem;
    text-decoration: underline;
}

.link1 p a {
    display: flex;
    text-decoration: none;
    color: #347D14;
    align-content: space-between;
}

.link2 {
    grid-area: link2;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #347D14;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.link2 h3 {
    display: flex;
    font-size: 2.5rem;
    text-decoration: underline;
}

.link2 p a {
    display: flex;
    text-decoration: none;
    color: #347D14;
    align-content: space-between;
}

.link2 {
    grid-area: link2;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #347D14;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.link2 h3 {
    display: flex;
    font-size: 2.5rem;
    text-decoration: underline;
}

.link2 p a {
    display: flex;
    text-decoration: none;
    color: #347D14;
    align-content: space-between;
}

.link3 {
    grid-area: link3;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #347D14;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.link3 h3 {
    display: flex;
    font-size: 2.5rem;
    text-decoration: underline;
}

.link3 p a {
    display: flex;
    text-decoration: none;
    color: #347D14;
    align-content: space-between;
}

.link4 {
    grid-area: link4;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #347D14;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.link4 h3 {
    display: flex;
    font-size: 2.5rem;
    text-decoration: underline;
}

.link4 p a {
    display: flex;
    text-decoration: none;
    color: #347D14;
    align-content: space-between;
}


/*-----multimedia-----*/
.container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3px 0px;
    grid-template-areas:
        "video descripcion-del-video"
        "video-youtube descripcion-de-video2"
        "audio descripcion-del-audio";
}

.container .audio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .descripcion-del-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 2rem;
    color: #347D14;
    font-family: 'Dancing Script'
}

.container .descripcion-de-video2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    font-size: 2rem;
    color: #347D14;
    font-family: 'Dancing Script'
}


.container .video-youtube {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}

.container .descripcion-del-audio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    font-size: 2rem;
    color: #347D14;
    font-family: 'Dancing Script'
}

/*------biografia----*/
.df-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #68c540;
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
    font-family: 'Dancing Script'
}

.bio-p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #68c540;
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
    font-family: 'Dancing Script'

}

.card {
    width: 100px;
    margin: 100px;
}

.df-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.w-img {
    width: 450px;
}

.w-img2 {
    width: 300px;
}

.bg-card {
    width: 500px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom-style: solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.boton {
    font-family: 'Dancing Script';
    margin: 10px;
    padding: 5px 10px;
    border: solid;
    border-radius: 10px;
}

.titulo-bio {
    padding: 10px;
    margin: 15px;
    color: #AD57AC;
    text-align: center;
    font-size: 2.5rem;
    font-weight: normal;
    font-family: 'Indie Flower', cursive;

}

/*-------giras-----*/
.giras1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 1fr 1.6fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 3px 4px;
    grid-auto-flow: row;
    grid-template-areas:
        "girAs girAs"
        "lugares1 lugares2"
        "mapa1 mapa2";
    justify-items: center;
    list-style: none;
    color: #347D14;
}

.giras {
    list-style: none;
    font-size: normal;

}

.girAs {
    grid-area: girAs;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 30px;
    margin: 30px;
}
.girAs h2{
    color: greenyellow;
        border: solid greenyellow;
        font-size: 2rem;

}
.girAs p {
    color: #347D14;
    font-size: 1.7rem;

}
.lugares1 {
    grid-area: lugares1;
    display: flex;
    list-style: none;
    height: 60px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;

}

.lugares1 h2 {
    color: greenyellow;
    border: solid greenyellow;

}

.lugares2 h2 {
    color: greenyellow;
    border: solid greenyellow;
}

.lugares2 {
    grid-area: lugares2;
    display: flex;
    list-style: none;
    height: 60px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
}

.mapa1 {
    grid-area: mapa1;
}

.mapa2 {
    grid-area: mapa2;
}

/*-----footer---*/
.pie {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    margin: auto;
    color: #e26ae0;
}

.logo a i {
    font-size: 35px;
    text-align: right;
    padding: 5px 10px;
    color: #e26ae0
}

.logo a i:hover {
    transform: scale(1.5);
    transition: all 1.5s ease;
}

@media only screen and (max-width: 700px) {
    body {
        font-size: 0.25rem;
        font-weight: normal;

    }

    header {
        font-size: 0.5rem;
        flex-direction: column;

    }

    main h3 {
        font-size: 0.5rem;
        font-weight: normal;


    }

    h3 {
        font-size: 1rem;
        font-weight: normal;
    }

    .pie {

        font-size: 2rem;
        flex-direction: column;
        margin: auto;
        color: #e26ae0;
    }

    .container {

        grid-auto-columns: 1fr;
        grid-template-columns: 50%;
        grid-template-rows: 1fr;
        gap: 3px 0px;
        grid-template-areas:
            "video"
            "descripcion-del-video"
            "video-youtube"
            "descripcion-de-video2"
            "audio"
            "descripcion-del-audio";
    }

    .container h3 {
        font-size: 1rem;
        font-weight: normal;

    }

    .discos {
        display: grid;
        grid-template-columns: 1.5fr;
        grid-template-rows: 2fr;
        grid-auto-columns: 1fr;
        gap: 2rem;
        grid-auto-flow: row;
        grid-template-areas:
            "foto1"
            "link1"
            "foto2"
            "link2"
            "foto3"
            "link3"
            "foto4"
            "link4";
    }
        .giras1 {
            
            grid-template-columns: 1fr 1fr ;
            grid-template-rows:  1fr ;
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            gap: 3px 4px;
            grid-auto-flow: row;
            grid-template-areas:
                "girAs" 
                "girAs"
                "lugares1" 
                "lugares2"
                "mapa1" 
                "mapa2";
            justify-items: center;
            flex-direction: column;
            list-style: none;
            color: #347D14;
        }
}